{
	"presets": ["react"],
	"plugins": [
		"transform-object-rest-spread",
		"transform-class-properties",
		"transform-es2015-arrow-functions",
		"transform-es2015-block-scoped-functions",
		"transform-es2015-block-scoping",
		["transform-es2015-classes", {
		"loose": true
		}],
		["transform-es2015-computed-properties", {
		"loose": true
		}],
		"transform-es2015-destructuring",
		"transform-es2015-duplicate-keys",
		["transform-es2015-for-of", {
		"loose": true
		}],
		"transform-es2015-function-name",
		"transform-es2015-object-super",
		"transform-es2015-parameters",
		"transform-es2015-shorthand-properties",
		["transform-es2015-spread", {
		"loose": true
		}],
		"transform-es2015-sticky-regex",
		["transform-es2015-template-literals", {
		"loose": true
		}]
		// "transform-es2015-typeof-symbol"	
	],  
	"env": {
		// "development": {
		//   "presets": ["react-hmre"]
		// },	  
		"production": {
			"plugins": [
				"transform-react-constant-elements",
				"transform-react-remove-prop-types",
				"transform-react-inline-elements"
			]
		},
		"server": {
			"plugins" : [
				"transform-es2015-modules-commonjs"
			]
		},
		"development": {
			"plugins" : [
				"transform-es2015-modules-commonjs"
			]
		},
		"test": {
			"plugins" : [
				"transform-es2015-modules-commonjs"
			]
		}
	}
}
