@import "./variable.scss";

.add-botton{
	position: absolute;
	top:50%;
	margin-top: -16px;	
	right:-50px;
}
.admin-edit-tabwrap{
	padding:0 20px;
}
.ul-delete-item{
	padding-right: 2.14286em ;
	margin-left: 0 !important;
}
.icon-item:before{
	line-height: 25px;
}
.icon-item{
	width: 25px;
	height: 25px;	
	position: absolute;
	top:50%;
	margin-top: -12px;	
	display: block;
	cursor:pointer;
	color:#fff;
	text-align: center;	
	border-radius:50%;	
	// border: 2px solid #fff;	
	z-index:3;
}
.add-item{
	left:50%;	
	margin-left:-12px;	
	color:#000;
}
.delete-item{
	right:-29px;
	background-color:#000;	
}
.td-delete-item{
	width: 50px;
	position: relative;
}
.delete-item.delete-item-left{
	left:50%;	
	margin-left:-12px;
}

.delete-item.delete-item-rigth{
	right:50%;	
	margin-right:-12px;
}


.delete-item:hover{
	background-color:red;
}



.upload-image-list-wrap{
	display: flex;
	flex-wrap:wrap;
}

.upload-image-list{
	position: relative;
	max-width: 50%;
}
.upload-image{
	margin: 2px;
	width:calc(100% - 4px);
}
.upload-image-delete{
	top:4px;
	right:4px;	
}


.add-user-panel{
	margin: 0 auto;
	.panel-heading{
		background-color: $color4;
	}
	.panel-title{
		height: 60px;
		padding-left: 55px;
		font-size: 26px;
		font-weight: 650;
		line-height: 80px;
		color: #fff;
	}
	.sign-up{
		height: auto;
		padding: 10px 70px 20px;
		.submit-btn{
			float: right;
			margin-left: 10px;
		}
	}
}


.admin-docs-tbl{
	padding: 20px;
	thead{
		th{
			min-height: 50px;
			background-color: $color6;
			color: #fff;
			padding: 5px;			
			line-height: 25px;
			height: 50px;
			border-bottom: 5px solid #ccc;
		}
	}
}
