@import "./variable.scss";
@import "./mixin.scss";


table.p-spec, table.p-stdpkg{
   width: 100%;
   tbody td{
      line-height: 25px;
      height: 25px;
      padding-left: 20px;
      color: #000;
   }
   tbody tr:hover td
   {
      background-color: lighten($color7, 35);
      color: #000;
   }

   tbody td:first-child {
      background-color: #f9f9f9;
      font-family: 'Oxygen', sans-serif;
   }
   tbody tr:first-child td {
      background-color: $color6;
      color: #fff;
      font-size: 16px;
   }
}
#p-stdpkg table{
	th{
		text-align: left;
		background-color: $color6;
		color: #fff;
	}
}
.product-detail {
   #p-spec{
		max-width: 900px;
		margin: 0 auto;
   }
   #product-top-alarm{
		@include respond-to(lg) {
			width: 50%;
		}
		@include respond-to(md) {
			width: 60%;
		}
		@include respond-to(sm) {
			width: 70%;
		}
		@include respond-to(xs) {
			width: 100%;
		}
		margin-bottom: 30px;
   }
   #product-top, #product-top-alarm{
		margin: 0 auto;
   }
   h1{
		height: auto;
		margin-left: 0;
		margin-right: 0;
		line-height: 80px;
		@include respond-to(md) {
			line-height: 50px;
		}
		@include respond-to(sm) {
			line-height: 40px;
		}
		@include respond-to(xs) {
			line-height: 40px;
		}
		border-bottom: 10px solid $color1;
    }
    .product-desc{
		@include respond-to(xs) {
			padding: 0;
		}		
		margin-bottom: 30px;
		h1{
			position: relative;
			.favorite{
				position: absolute;
				right: 0;
				top: 30px;
				@include respond-to(xs) {
						top: -30px;
					}	
				font-size: 18px;
				float: right;
			}
			@include respond-to(xs) {
				margin-bottom: 0px;
			}
		}
		.rate{
			padding-left: 10px;
			@include respond-to(xs) {
				padding-left: 0;
			}
			overflow: hidden;
			.rated{
			float: left;
			}
			.rating{
			float: right;
			}
		}
    }
	.react-tabs{
		@include respond-to(xs) {
			padding: 0 0 15px;
		}
	}
	.alarm-product-desc{
		margin-bottom: 0;
	}


	ul.product-thumbs {
		margin: 0 0 20px 0;
		list-style: none;
	}

	ul.product-thumbs li {
		border: 1px solid #ccc;
		display: inline-block;
		margin: 1px;
		background-color: white;
	}

	ul.product-thumbs img {
		width: 90px;
		opacity: 0.5;
	}

	ul.product-thumbs img.t-fade {
		opacity: 0;
	}

	ul.product-thumbs li.active img{
		opacity: 1;
	}

	ul.product-thumbs img:hover {
		cursor: pointer;
		opacity: 1;
	}
	.product-images {
		max-width: 100%;
		overflow: hidden;
		height: 284px;
		.imageloader{
			height: 284px;
			@include respond-to(xs) {
				height: auto;
			}
		}
		@include respond-to(xs) {
		width: 100%;
		height: 200px;
		}
		//width: 100%;
		img {
		@include respond-to(xs) {
			margin: 0;
			padding: 0;
		}
		background-color: white;
		max-height: 100%;
		display: none;
		}

		img:first-child {
		display: block;
		}
	}
	.alarm-image{
		width: 620px;
		margin: 0 auto;
		.alarm-product-images{
			height: 400px;
			width: 400px;
			position: relative;
			float: left;
			.imageloader{
				height: auto;
				text-align: center;
			}
		}
		ul.alarm-product-thumbs{
			float: left;
			li{
				border: 1px solid #ccc;
				margin: 1px;
				width: 90px;
				background-color: white;
				img{
					width: 100%;
					opacity: 0.5;
				}
				img:hover {
					cursor: pointer;
					opacity: 1;
				}
			}
			li.active{
				img{
					opacity: 1;
				}
			}
		}
	}

  .alarm-image:after{
		content: "";
		display: block;
		clear: both;
	}
  .p-desc-detail{
      margin: 0px;

	  @include respond-to(xs) {
		  .fa-ul{
			  margin-left: 1.5em;
			  line-height: 2;
			  .fa-li{
			  	line-height: 2;
				top: 0;
			  }
		  }
	  }
  }
}

.tabs{
	padding: 20px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}

.nav-tabs {
	margin-bottom: 0;
}

.download-tbl{
	margin: 0 auto;
	max-width: 900px;
}

.alarm-tbl{
	height: auto;
}

.download-tbl{
	.table th{
		text-align: left;
		background-color: $color6;
		color: #fff;
	}
		tbody td:first-child {
		background-color: #f9f9f9;
		font-family: 'Oxygen', sans-serif;
	}

	tbody tr:hover td
	{
		background-color: lighten($color7, 30);
		color: #000;
	}

	.table th{
		line-height: 25px;
		height: 25px;
		border-bottom: 5px solid #ccc;
	}
	.table th.sort-desc, .table th.sort-asc{
			background-color: $color7;
			border-bottom: 5px solid $color1;
	}
}

.product{
	position: absolute;
	top: 0;
	left: 0;
}

.product-enter{
	top: -284px;
	opacity: 0;
	transition: 300ms ease-out all;
}

.product-enter-active {
	top: -284px;
	opacity: 1;
}

.product-leave {
	top: 0;
	opacity: 1;
	transition: 300ms ease-out all;
}

.product-leave-active {
	top: 284px;
}


.alarmProduct{
	position: absolute;
	top: 0;
	left: 0;
}

.alarmProduct-enter{
	top: -400px;
	opacity: 0;
	transition: 300ms ease-out all;
}

.alarmProduct-enter-active {
	top: -400px;
	opacity: 1;
}

.alarmProduct-leave {
	top: 0;
	opacity: 1;
	transition: 300ms ease-out all;
}

.alarmProduct-leave-active {
	top: 400px;
}
@keyframes fade-in {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes fade-out {
	from { opacity: 1; }
	to { opacity: 0; }
}



/* app css stylesheet */
.prenext{
	text-align: right;
}
.cat{
	padding: 0px;
	color: #000;
	font-weight: 500;
	background-color: #fff;
	box-shadow: 2px 2px 8px #888;
	border-top:8px $color6 solid;
	a{
		width: 100%;
		display: block;
	}
	>ul{
		padding: 20px;
	}
	>ul>li{
		width: 100%;
		line-height:30px;
		font-weight: 600;
		margin-bottom: 20px;
		color: #000;
	}
	>ul>li:before{
		content: "\f02c";
		content: "l";
		float: left;
		font-weight: normal;
		font-size:1.5em;
		line-height:30px;
		//font-family: FontAwesome !important;
		font-family:SOSA;
	}
	ul ul li{
		width: 100%;
		padding-left: 25px;
		float: none;
		font-size:14px;
		line-height: 26px;
	}
	ul ul li:hover{
		color: $color6;
		font-weight: 600;
		background-color: #eee;
		border-radius: 20px;
		//box-shadow(#ccc 0 0 10px -5px inset);
	}
	ul ul li.active{
		color: $color6;
		font-weight: 600;
		background-color: #eee;
		border-radius: 20px;
		//box-shadow(#ccc 0 0 10px -5px inset);
		a{
			color: $color6;
		}
	}
	li{
		line-height:20px;
		font-weight: normal;
	}
}

.model{
	font-weight: 600;
}


ul.specs {
	clear: both;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.specs > li{
	display: inline-block;
	width: 200px;
	vertical-align: top;
}

ul.specs > li > span{
	font-weight: bold;
	font-size: 1.2em;
}

ul.specs dt {
	font-weight: bold;
}
.show_product{
	clear: both;
	width: 100%;
}
.sort_p, .search_p{
	float: left;
	padding-right: 20px;
	.form-control{
		display: inline;
		width: 120px;
	}
}
.search-p-btn{
	width: 200px;
	margin-left: 10px;
	height: 30px;
	border: none;
	padding-left: 10px;
	border-radius: 15px;
	border: 2px solid $color6;
}
.grid-container {
	padding-top: 50px;
	.Grid .block-wrap .block{
		border: 1px #ccc solid;
		border-bottom: 15px solid $color6;
		margin-bottom: 30px;
		img{
			width: 100%;
		}
		p{
			margin-bottom: 0px;
			text-overflow : ellipsis;
			overflow : hidden;
		}
		.title{
			font-size: 15px;
			line-height: 30px;
			text-align: center;
			border-top: 1px hsla(0, 0%, 90%, 1) solid;
			background-color: #fff;
			padding: 10px;
			text-overflow: ellipsis;
			position: relative;
			p.brand{
				text-align: center;
				line-height: 11px;
				padding-top: 8px;
			}
			p.model{
				color: #000;	
			}
			.favorite{
				display: block;
				position: absolute;
				right: 5px;
				top: -30px;
			}
			.rate{
				display: block;
				position: absolute;
				left: 10px;
				top: -30px;
			}
		}
		.list{
			display: none;
			width: 100%;
			float: left;
		}
	}

	.block-wrap:hover{
		.block{
			border-bottom: 15px solid $color8;
			.title{				
			}
			p.brand{				
			}
			p.model{
				color: $color6;
			}
		}

	}
}

.bubble
{
  position: absolute;
  color: #fff;
  text-align: center;
  font-family: #{$font-p};
  font-size: 16px;
  z-index: 999;
  width: 100px;
  height: 40px;
  line-height: 40px;
  padding: 0px;
  left: -50px;
  top: -40px;
  background: $color8;
  -webkit-border-radius: 59px;
  -moz-border-radius: 59px;
  border-radius: 59px;
}

.bubble:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 10px 0;
  border-color: $color8 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -10px;
  left: 60px;
}

ul.app-view {
  position: absolute;
  right: 0;
  top: 10px;
  width: 100px;
  background-color: transparent;
  li{
    display: inline-block;
	background-color: transparent;
    width:40px;
    margin-left: 5px;
    font-size: 20px;
    position: relative;
    .bubble{
      display: none;
    }
  }
  li:hover>.bubble
  {
    display:block;
  }
}


