.product{
	position: absolute;
	top: 0;
	left: 0;
}

.product-enter{
  top: -284px;
  opacity: 0;
  transition: 300ms ease-out all;
}

.product-enter-active {
  top: -284px;
  opacity: 1;
}

.product-leave {
	top: 0;
  opacity: 1;
  transition: 300ms ease-out all;
}

.product-leave-active {
	top: 284px;
}


.alarmProduct{
	position: absolute;
	top: 0;
	left: 0;
}

.alarmProduct-enter{
  top: -400px;
  opacity: 0;
  transition: 300ms ease-out all;
}

.alarmProduct-enter-active {
  top: -400px;
  opacity: 1;
}

.alarmProduct-leave {
	top: 0;
  opacity: 1;
  transition: 300ms ease-out all;
}

.alarmProduct-leave-active {
	top: 400px;
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
