@import "./mixin.scss";

.asia{
  padding: 20px;
}

.brand{
  text-align: center;
  img{
    display: block;
    max-width: 100%;
    max-height: 60px;
    margin: 10px auto;
  }
  .table{
    max-width: 100%;
    margin: 20px auto 0;
    td{
      width: 25%;
    }
  }
}
.about{
  p{
    color: #000;
	@include respond-to(xs) {
		line-height: 1.8;
		font-size: 15px;
	}
  }
  padding: 20px;
  background-color: lighten($color7, 37);
  border-radius: 10px;
  border: 3px lighten($color7, 30) solid;
  b{
    font-weight: 500;
  }
  strong{
    font-weight: 600;
  }
}
